/*Контейнер*/

body{
    margin: 0;
    background: linear-gradient(90deg, #2f4f4f, #808080);
    transition: all .5s ease;
}

.product-place-container{
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    padding: 150px 25px 50px 25px;
    flex-wrap: wrap;
}

.product-class-container{
    width: 1350px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.5s ease;
    justify-content: space-between;
    row-gap: 25px;
}

.a-container{
    width: 49%;
    padding: 50px;
    height: 550px;
    border-radius: 50px;
    display: flex;
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: .5s ease-in-out;
    animation: fade-in 1s;
}

.a-container:hover {
    color: black;
}

@keyframes fade-in {
    from {height: 300px; opacity: 0; color: transparent}
    to {height: 550px; opacity: 1; color: black}
}

/*СкроллБар*/

::-webkit-scrollbar {
    width: 12px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.50);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

/*Мобильная версия*/

@media (max-width: 850px) {

    .product-class-container{
        width: 800px;
        flex-flow: column;
    }

    .a-container{
        width: 100%;
        height: 200px;
    }

}

@media (max-width: 500px) {

    .product-class-container{
        width: 450px;
        flex-flow: column;
    }

    .a-container{
        font-size: 25px;
    }

}

