body{
    margin: 0;
    background: linear-gradient(90deg, #2f4f4f, #808080);
    transition: all .5s ease;
}

/*Контейнер изображение*/

.company-pic {
    padding: 125px 25px 25px 25px;
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.company-main-text-pic{
    padding-top: 25px;
    width: 1350px;
    height: auto;
    display: flex;
    flex-flow: column;
    color: white;
}

/*Контейнер*/

.company-container{
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    padding: 50px 25px 50px 25px;
    flex-wrap: wrap;
    background-color: transparent;
    color: white;
}

.company-container-block{
    display: flex;
    width: 1350px;
    flex-wrap: wrap;
    flex-flow: column;
    animation: fade-in-partners 1s;
}

.company-container-partners{
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: wrap;
    padding: 25px;
    justify-content: space-between;
    row-gap: 20px;
    margin-bottom: 10px;
}

@keyframes fade-in-partners {
    from {opacity: 0}
    to {opacity: 1}
}

.company-container-leaders{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    column-gap: 12.5px;
}

.company-leaders{
    height: auto;
    width: 275px;
    padding: 25px 25px 0px 25px;
    overflow: hidden;
}

/*Изображения*/

.img-partners{
    border-radius: 25px;
    height: 100%;
    width: 100%;
    padding: 25px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);

}

.a-partners{
    display: flex;
    width: 24%;
    height: 150px;
    transition: all 0.5s ease;

}

/*СкроллБар*/

::-webkit-scrollbar {
    width: 12px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.50);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

/*Мобильная версия*/

@media (max-width: 800px) {

    .company-container-block{
        width: 750px;
    }

    .a-partners{
        width: 48%;
    }

}

@media (max-width: 500px) {

    .company-container-block{
        width: 450px;
    }

    .a-partners{
        width: 100%;
    }

}
