/*Хедер*/

header {
    transition: 0.4s; /* плавное движение */
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 25px;
    justify-content: center;
    background-color: transparent;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}

/*Контейнер лого*/

.header-container{
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: auto;
    display: flex;
    align-items: center;

}

.logo-text-top{
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.img-logo{
    width: 50px;
    border-radius: 15px;
}

.logo-text-bottom {
    margin-bottom: 0;
}

#menu-icon{
    font-size: 35px;
    color: white;
    display: none;
    transition: .5s;
}

/*Контейнер текст*/

.nav-list{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.header-nav-li{
    list-style: none;
    display: inline-block;
}

.a-nav{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-weight: bolder;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.a-nav:hover,
.a-nav:focus,
.logo-text-top:hover{
    color: white;
    border-bottom: 2px solid white;
}

.btn-nav{
    margin-left: 50px;
    background-color: white;
    color: black;
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-weight: bolder;
    transition: 0.5s;
    margin-right: 15px;

}

.btn-nav-basket{
    background: url("/img/etc/basket.png") no-repeat center;
    background-color: white;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-weight: bolder;
    transition: 0.5s;
}

.count{
    background-color: #c40000;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 15px;
    font-size: 14px;
    justify-content: center;
    color: white;
    margin-left: 25px;
    margin-top: -5px;
}

/*Выпадающий список*/

.list-container{
    z-index: 0;
    padding: 38px 0px 0px 0px;
    margin-left: 25px;
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    width: 138px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-nav-li:hover > .list-container {
    visibility: visible;
    opacity: 1;
}

.li-blocks{
    font-weight: bolder;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.li-blocks:hover {
    background-color: #3a713b;
    color: white;
}

.list-a{
    padding: 10px;
    text-decoration: none;
    color: #3a713b;
    font-weight: bolder;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    width: 100%;
}

.list-a:hover{
    color: white;
}

/*Мобильная версия*/

@media (max-width: 950px) {

    #menu-icon{
        display: flex;
        animation: fade-in .5s;
    }

    @keyframes fade-in {
      from {opacity: 0}
        to {opacity: 1}
    }

    .nav-list{
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        margin-top: 32px;
        right: -100%;
        width: 200px;
        height: 300px;
        transition: all .5s ease;
        background: white;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        border-left: 1px solid rgba(128, 128, 128, 0.5);
        border-bottom-left-radius: 25px;
    }

    .header-nav-li{
        margin-left: -32px;
        align-items: center;
        margin-top: 10px;
        border-radius: 10px;
        transition: .5s;
        padding: 5px 0;
    }

    .a-nav{
        display: flex;
        margin-right: 50px;
        color: #3a713b;
    }

    .header-nav-li:hover > .list-container{
        display: none;
    }

    .btn-nav,
    .btn-nav-basket{
        margin: 0;
    }

    .nav-list.open{
        right: 0;
    }

    #wrong-reg,
    #wrong-data{
        font-size: 15px;
    }
}
