#modal-success-reg{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 25px;
    display: none;
    height: auto;
    width: auto;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding: 25px;
    font-size: 25px;
    font-weight: bolder;
    color: black;
}


/*Товар добавлен в корзину*/

#modal-success-add-to-basket{
    padding: 25px;
    border-radius: 25px;
    position: fixed;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 25px;
    top: 0;
    right: 0;
    display: none;
    width: 450px;
    height: 300px;
    background-color: white;
    z-index: 3;
}

.modal-basket-img{
    height: 100%;
    width: 39%;
}

.btn-modal-basket{
    margin-top: 5px;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    border: none;
    transition: .5s;
}

/*Заказ создан*/

.modal-add-order{
    padding: 50px 25px 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    pointer-events: none;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.5s all;
}

.modal-add-order-body{
    pointer-events: all;
    position: relative;
    transition: 0.5s all;
    width: 600px;
    margin: auto;
    height: auto;
    border-radius: 50px;
    background-color: white;
    padding: 50px;
}

.btn-add-order{
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    border-radius: 25px;
    border: none;
    transition: .5s;
}

